- name: Golden Image vorbereiten
  hosts: all
  become: true
  tasks:
    - name: Paketquellen aktualisieren
      apt:
        update_cache: true

    - name: Alle Pakete upgraden
      apt:
        upgrade: dist

    - name: Neustart nach Kernel-Update
      reboot:
        reboot_timeout: 300

    - name: Grundlegende Pakete installieren
      apt:
        name:
          - curl
          - vim
          - htop
          - net-tools
          - dnsutils
          - iputils-ping
          - traceroute
          - fail2ban
          - ca-certificates
        state: present

    - name: Unnoetige Pakete entfernen
      apt:
        name:
          - snapd
          - popularity-contest
          - telnet
          - inetutils-telnet
          - ntp
        state: absent
        purge: true

    - name: SSH-Jail fuer fail2ban konfigurieren
      copy:
        content: |
          [sshd]
          enabled  = true
          port     = ssh
          maxretry = 3
          bantime  = 1h
        dest: /etc/fail2ban/jail.d/ssh.conf

    - name: Root-Login per SSH deaktivieren
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'
      notify: SSH neu starten

    - name: Passwort-Login per SSH deaktivieren
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'
      notify: SSH neu starten

    - name: Netplan fuer alle Ethernet-Interfaces setzen
      copy:
        content: |
          network:
            version: 2
            ethernets:
              all-eth:
                match:
                  name: "en*"
                dhcp4: true
        dest: /etc/netplan/99-golden-image.yaml
        mode: '0600'

    - name: Alte Netplan-Konfiguration entfernen
      shell: find /etc/netplan/ -name "*.yaml" ! -name "99-golden-image.yaml" -delete

    - name: Paket-Cache aufraeumen
      apt:
        autoclean: true
        autoremove: true

    - name: cloud-init zuruecksetzen
      command: cloud-init clean

  handlers:
    - name: SSH neu starten
      service:
        name: ssh
        state: restarted
