- name: Golden Image vorbereiten
  hosts: all
  become: true
  tasks:
    - name: Paketquellen aktualisieren
      apt:
        update_cache: true

    - name: Alle Pakete upgraden
      apt:
        upgrade: dist

    - name: Grundlegende Pakete installieren
      apt:
        name:
          - curl
          - vim
          - htop
          - net-tools
          - dnsutils
          - iputils-ping
          - traceroute
          - fail2ban
          - ca-certificates
        state: present

    - name: Unnoetige Pakete entfernen
      apt:
        name:
          - snapd
          - popularity-contest
          - telnet
          - ntp
        state: absent

    - name: SSH-Jail fuer fail2ban konfigurieren
      copy:
        content: |
          [sshd]
          enabled  = true
          port     = ssh
          maxretry = 3
          bantime  = 1h
        dest: /etc/fail2ban/jail.d/ssh.conf

    - name: Root-Login per SSH deaktivieren
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'
      notify: SSH neu starten

    - name: Passwort-Login per SSH deaktivieren
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'
      notify: SSH neu starten

    - name: Paket-Cache aufraeumen
      apt:
        autoclean: true
        autoremove: true

  handlers:
    - name: SSH neu starten
      service:
        name: sshd
        state: restarted
